**/.DS_Store
**/vr3_adoc.adoc
**/vr3_adoc.html
**/.asciidoctor/**
**/.idea/**
**/node_modules

nuxt/nuxt3/nuxt3-basic
nuxt/nuxt3/nuxt3-layout
nuxt/nuxt3/nuxt3-element-plus
nuxt/nuxt3/nuxt3-tailwindcss
nuxt/nuxt3/nuxt3-font
nuxt/nuxt3/nuxt3-component
nuxt/nuxt3/nuxt3-sitemap
nuxt/nuxt3/nuxt3-sqlite
nuxt/nuxt3/nuxt3-slug
nuxt/nuxt3/nuxt3-server
nuxt/nuxt3/nuxt3-i18n
nuxt/nuxt3/nuxt3-casl
