#@+leo-ver=5-thin
#@+node:swot.20250922225939.1: * @file service-item/src/main/resources/application.yml
#@@language yaml
#@+others
#@+node:swot.20250922225939.2: ** port
#@+doc
# [source,yaml]
# ----
#@@c
#@@language yaml
### 服务端口号(本身是一个web项目)
server:
    port: 8081
#@+doc
# ----
#
#@+node:swot.20250922225939.3: ** name
#@+doc
# [source,yaml]
# ----
#@@c
#@@language yaml
### 起个名字作为服务名称(该服务注册到eureka注册中心的名称，比如商品服务)
spring:
    application:
        name: app-item
#@+doc
# ----
#
#@+node:swot.20250922225939.4: ** eureka
#@+doc
# [source,yaml]
# ----
#@@c
#@@language yaml
### 服务注册到 eureka 注册中心的地址
eureka:
    client:
        service-url:
            # Eureka服务地址：从环境变量 EUREKA_CLIENT_SERVICEURL_DEFAULTZONE 获取，默认为本地地址
            # - 开发环境：不设置环境变量，使用默认值 http://127.0.0.1:8761/eureka/
            # - Docker环境：在 docker-compose.yml 中设置 EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
            defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://root:root@127.0.0.1:8761/eureka/}
        register-with-eureka: true # 因为该应用为服务提供者，是 eureka 的一个客户端，需要注册到注册中心
        fetch-registry: true       # 是否需要从 eureka 上检索服务

    instance:
        # 注册方式：从环境变量 EUREKA_INSTANCE_PREFER_IP_ADDRESS 获取，默认为 true（使用IP注册）
        # - 开发环境：使用IP注册（127.0.0.1）
        # - Docker环境：在 docker-compose.yml 中设置 prefer-ip-address: false
        prefer-ip-address: ${EUREKA_INSTANCE_PREFER_IP_ADDRESS:true}     # 使用 IP地址 注册而不是主机名
        
        # 注册IP地址：从环境变量 EUREKA_INSTANCE_IP_ADDRESS 获取，默认为 127.0.0.1
        # - 开发环境：使用 127.0.0.1
        # - Docker环境：在 docker-compose.yml 中设置 hostname: service-item
        ip-address: ${EUREKA_INSTANCE_IP_ADDRESS:127.0.0.1}       # 客户端在注册时使用自己的 IP，而不是主机名
#@+doc
# ----
#@-others
#@+doc
# ****
# name 和 instance 两者都有重要作用，缺一不可：
#
# - spring.application.name：服务的逻辑名称，用于服务发现和负载均衡
# - eureka.instance 配置：实例的网络地址，用于实际通信
#
# 即使使用 IP 注册，仍然需要服务名称来进行服务发现和调用。
# ****
#@-leo
